body {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
    background: #f4f4f9;
    color: #231f20;
    line-height: 1.6;
}
      .divider {
            background-color: #f4f4f9;
            height: 30px; /* Adjust the height of the divider as needed */
            margin-top: 20px;
        }
        .divider1 {
            margin-top: 30px;
            background-color:#231f20;
            height: 10px;
        }
        .container1 {
            display: flex;
            align-items: center; /* Align items vertically */
        }
        .logo {
            margin-top: 30px;
            margin-left: 50px;
            width: 15%;
            height: auto;
        }
        .navbar {
            margin-top: 30px;
            margin-left: 80px; /* Add margin to create space between logo and list */
        }
        
        .navbar ul {
            list-style-type: none;
            padding: 0;
            margin: 0; /* Remove default margin */
            display: flex; /* Use flexbox for the list */
        }
        
        .navbar li {
            margin-right: 50px;
        }
        
        .navbar li:last-child {
            margin-right: 0; /* Remove margin from the last list item */
        }
        
        .navbar li a,
                .navbar li .login-button {
                    text-decoration: none;
                    color: #333;
                    background: none; /* Remove any default button background */
                    border: none; /* Remove any default button border */
                    font: inherit; /* Inherit font styles */
                    cursor: pointer; /* Make cursor a pointer */
                    padding: 0; /* Remove default padding */
                }
        
                .navbar li a:hover,
                .navbar li .login-button:hover {
                    color: #231f20;
                    font-weight: 500; /* Make text bold on hover */
                }
        
        .logos {
            display: flex;
            justify-content: flex-end; /* Align items to the right */
            align-items: center; /* Align items vertically */
            margin-left: 500px;
        }




       .container {
            font-family: 'Montserrat', sans-serif;
            width: 370px;
            margin: 70px auto;
            padding: 20px;
            text-align: center;
        }
        input[type="email"],
        input[type="password"] {
            width: calc(100% - 20px);
            height: 20px;
            padding: 10px;
            margin-top: 8px;
            margin-bottom: 8px;
            border: 1px solid #595a5a;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            text-indent: 8px;
        }

        input[type="email"]::placeholder,
        input[type="password"]::placeholder {
            color: #595a5a;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            text-indent: 8px;
        }


        input[type="submit"] {
            width: 30%;
            padding: 10px;
            background-color: #231f20;
            color: white;
            border: none;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #595a5a;
        }

        .link {
            display: block;
            margin-top: 10px;
            color: #007BFF;
            text-decoration: none;
        }

        .forgot-password {
            text-align: right;
            font-weight: 500;
        }

        .forgot-password a {
            text-decoration: none;
            color: #595a5a;
        }

        .create-account a {
            text-decoration: none;
            color: #231f20;
        }
        .create-account a:hover {
            text-decoration: none;
            color: #595a5a;
        }

        .toggle-password {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .toggle-password input {
            display: none;
        }

        .toggle-password .fas {
            font-size: 18px;
            color: #595a5a;
        }

        .toggle-password .fas.fa-eye-slash {
            display: none;
        }

        .toggle-password input:checked ~ .fas.fa-eye {
            display: none;
        }

        .toggle-password input:checked ~ .fas.fa-eye-slash {
            display: block;
        }
